/*utilizando la técnica de reset*/
*{
    margin: 0px;
    box-sizing: border-box;
}

.text-uppercase{
    text-transform: uppercase;
}

.inline-block{
    display: inline-block;
}

header{
    position: fixed;
    width: 100%;
    background-color: #2c3e50;
    z-index: 1000px;
    padding: 12px;
    height: 108px;
}

header a{
    text-decoration: none;
    color: #fff;
}

header nav{
    position: relative;
    display: inline-block;
    width: 70%;
    margin-top: 20px;
}

