/*utilizando la técnica de reset*/
*{
    margin: 0px;
    box-sizing: border-box;
}


/*Clases reutilizables*/
.text-uppercase{
    text-transform: uppercase;
}

.inline-block{
    display: inline-block;
}

.text-center{
    text-align: center;
}

/*Style header*/
header{
    position: fixed;
    width: 100%;
    background-color: #2c3e50;
    padding: 12px;
    z-index: 1000;    
    height: 108px;
    font-family: 'Montserrat', sans-serif;    
}

header div{
    /*outline: 1px solid #fff;*/ 
    position: absolute;
    left: 1057px;
    top: 44px;
    bottom: 47px;
    right: auto;
}

header div a{
    padding-right: 12px;
    font-size: 16px;
}

header nav{
    margin-top: 27px;
}


/*utilizando una sombra para los textos*/
header a{
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    position: relative;
    padding: 0px;
    text-shadow: #fff 0.5px 0.5px 0px;
    font-weight: 700;
}

/*estableciendo un tamaño especifico*/
header h1{
    position: relative;
    bottom: 3px;
    right: auto;
    font-size: 32px;
    left:227px;
    width: 230%;
}

/*style section*/
section{
    position: relative;
    text-align: center;
}

footer{
    position: absolute;
    text-align: center;
}

/*style footer*/