/*utilizando la técnica de reset*/
*{
    margin: 0px;
    box-sizing: border-box;
}


/*Clases reutilizables*/
.text-uppercase{
    text-transform: uppercase;
}

.inline-block{
    display: inline-block;
}

.text-center{
    text-align: center;
}

/*Style header*/
header{
    position: fixed;
    width: 100%;
    background-color: #2c3e50;
    padding: 12px;
    z-index: 1000;    
    height: 108px;
    font-family: 'Montserrat', sans-serif;    
}

header div{
    position: absolute;
    float: right;
    bottom: 45px;
    top: auto;
    right: 250px;
}

header div a{
    padding-right: 12px;
    font-size: 16px;
}

header nav{
    margin-top: 27px;
}


/*utilizando una sombra para los textos*/
header a{
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    padding: 0px;
    text-shadow: #fff 0.5px 0.5px 0px;
    font-weight: 700;
}

/*estableciendo un tamaño especifico*/
header h1{
    font-size: 32px;
    width: 49%;
    text-align:center;
    margin-top: 25px;
    margin-bottom: auto;
    font-weight: 800;
}



section{
    position: relative;
    text-align: center;
    width: 100%; 
}

i{
    
}

/*style section-start*/
section  hr{
    position: relative;
    width: 30%;
    height: 5px;
    border: none;
    background-color: #2c3e50; 
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

.section-start{
    top: 107px;
    margin-bottom: 170px;
    background-color: #18bc9c;
    color: #fff;
}

.section-start figure img{
    margin-top: 92px;
    margin-bottom: 30px;
}

/*img[alt="profile"]{
    margin-top: 92px;
    margin-bottom: 56px;
}*/

.section-start div h1{
    font-size: 78px;
    margin-bottom: 55px;
    font-family: 'Montserrat', sans-serif;  
}

.section-start div p{
    font-size: 28px;
    margin: 30px;
    font-family: 'Lato', sans-serif;
}

/*section-portfolio*/
.section-portfolio figure{
    width: 350px;
    height: 256px;
    margin: 30px;
    display: inline-block;
}

.section-portfolio img{
    max-width: 100%;
}

.section-portfolio h1{
    font-size: 48px;
    margin-bottom: 36px;
    font-family: 'Montserrat', sans-serif;  
}

/*section-about*/

.section-about{
    background-color: #18bc9c;
    color: #fff;
}

.section-about h1{
    font-size: 48px;
    margin-top: 112px;
    margin-bottom: 55px;
    font-family: 'Montserrat', sans-serif;  
}

/*.column-1{
    position: relative;
    outline: 1px solid green;
    width: 300px;
    margin-left: 450px;
}

.column-2{
    outline: 1px solid green;
   /* text-align: center;
    width: 600px;
    left: 480px;
    position: relative;
    float: right;
    width: 25%;
    position: relative;
    left: auto;
    right: auto;
    bottom: 289px;
    margin-left:800px;
    
}*/

.general{
    outline: 1px solid green;
    position: relative;
    width: 43%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    column-count: 2;
    margin-top: 60px;
}

.section-about p {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    font-family: sans-serif;
    margin-right: 10px;
    font-weight: 400;
}

.section-about button{
    width: 210px;
    height: 50px;
    background-color: #18bc9c;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    font-size: 20px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 90px;

}

.section-about span{
    font-family: 'Montserrat';
    font-family: sans-serif;
}

/*section-contact*/
.section-contact{
    top: 112px;
    margin-bottom: 500px;
}

.section-contact h1{
    font-size: 48px;
    margin-bottom: 36px;
    font-family: 'Montserrat', sans-serif;  
}

.section-contact form{
    
}

.section-contact button{
    width: 78px;
    height: 21px;
    background-color: #18bc9c;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    font-size: 20px;
    font-family: 'Lato';
    position: relative;
    top: 110px;
}



/*style footer*/

footer{
    position: relative;
    text-align: center;
    background-color: #2c3e50;
    color: #fff;
}

footer h1{
    font-size: 26px;
    margin-bottom: 36px;
    font-family: 'Montserrat', sans-serif;  
}

.footer-text {
    outline: 1px solid red;
    display: inline-block;
    margin: 30px;
    max-width: 25%;
}


footer p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;  
}

footer i{
    border: 2px solid #fff;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    margin-right: 5px;
    padding: 15px;
}

#dribble{
    content: 16px 16px;
}
