/*utilizando la técnica de reset*/
*{
    margin: 0px;
    box-sizing: border-box;
}


/*Clases reutilizables*/
.text-uppercase{
    text-transform: uppercase;
}

.inline-block{
    display: inline-block;
}

.text-center{
    text-align: center;
}

/*Style header*/
header{
    position: fixed;
    width: 100%;
    background-color: #2c3e50;
    padding: 12px;
    z-index: 1000;    
    height: 108px;
    font-family: 'Montserrat', sans-serif;    
}

header div{
    position: absolute;
    float: right;
    bottom: 45px;
    top: auto;
    right: 250px;
}

header div a{
    padding-right: 12px;
    font-size: 16px;
}

header nav{
    margin-top: 27px;
}


/*utilizando una sombra para los textos*/
header a{
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    padding: 0px;
    text-shadow: #fff 0.5px 0.5px 0px;
    font-weight: 700;
}

/*estableciendo un tamaño especifico*/
header h1{
    font-size: 32px;
    width: 49%;
    text-align:center;
    margin-top: 25px;
    margin-bottom: auto;
    font-weight: 800;
}


/*style section-start*/
section{
    position: relative;
    text-align: center;
    width: 100%;
    
}

figure{
    /*outline: 1px solid green;*/
}

.section-start{
    top: 109px;
    margin-bottom: 170px;
    background-color: #18bc9c;
    color: #fff;
}

.section-start figure img{
    margin-top: 92px;
    margin-bottom: 30px;
}

/*img[alt="profile"]{
    margin-top: 92px;
    margin-bottom: 56px;
}*/

.section-start div h1{
    font-size: 78px;
    margin-bottom: 55px;
    font-family: 'Montserrat', sans-serif;  
}

.section-start div p{
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}

.section-portfolio figure{
    outline: 1px solid purple;
    width: 30%;
    display: inline-block;
    
}


/*style footer*/

footer{
    position: relative;
    text-align: center;

}